$color-shade-black: rgba(0, 0, 0, 1);
$color-shade-white: rgba(255, 255, 255, 1);
$color-gray-100: rgba(247, 250, 252, 1);
$color-gray-200: rgba(237, 242, 247, 1);
$color-gray-300: rgba(226, 232, 240, 1);
$color-gray-400: rgba(203, 213, 224, 1);
$color-gray-500: rgba(160, 174, 192, 1);
$color-gray-600: rgba(113, 128, 150, 1);
$color-gray-700: rgba(74, 85, 104, 1);
$color-gray-800: rgba(45, 55, 72, 1);
$color-gray-900: rgba(26, 32, 44, 1);
$color-red-100: rgba(255, 245, 245, 1);
$color-red-200: rgba(254, 215, 215, 1);
$color-red-300: rgba(254, 178, 178, 1);
$color-red-400: rgba(252, 129, 129, 1);
$color-red-500: rgba(245, 101, 101, 1);
$color-red-600: rgba(229, 62, 62, 1);
$color-red-700: rgba(197, 48, 48, 1);
$color-red-800: rgba(155, 44, 44, 1);
$color-red-900: rgba(116, 42, 42, 1);
$color-orange-100: rgba(255, 250, 240, 1);
$color-orange-200: rgba(254, 235, 200, 1);
$color-orange-300: rgba(251, 211, 141, 1);
$color-orange-400: rgba(246, 173, 85, 1);
$color-orange-500: rgba(237, 137, 54, 1);
$color-orange-600: rgba(221, 107, 32, 1);
$color-orange-700: rgba(192, 86, 33, 1);
$color-orange-800: rgba(156, 66, 33, 1);
$color-orange-900: rgba(123, 52, 30, 1);
$color-yellow-100: rgba(255, 255, 240, 1);
$color-yellow-200: rgba(254, 252, 191, 1);
$color-yellow-300: rgba(250, 240, 137, 1);
$color-yellow-400: rgba(246, 224, 94, 1);
$color-yellow-500: rgba(236, 201, 75, 1);
$color-yellow-600: rgba(214, 158, 46, 1);
$color-yellow-700: rgba(183, 121, 31, 1);
$color-yellow-800: rgba(151, 90, 22, 1);
$color-yellow-900: rgba(116, 66, 16, 1);
